@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;800&display=swap");

:root {
  --primary-color: #3685fb;
  --primary-color-dark: #2f73d9;
  --secondary-color: #fafcff;
  --text-dark: #0d213f;
  --text-light: #767268;
  --extra-light: #ffffff;
  --max-width: 1200px;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.section-container {
  max-width: var(--max-width);
  margin: auto;
  padding: 5rem 1rem;
}

.section-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 2rem;
  flex-wrap: wrap;
  margin-bottom: 4rem;
}

.section-title {
  font-size: 2rem;
  font-weight: 600;
  color: var(--text-dark);
  margin-bottom: 1rem;
}

.section-subtitle {
  font-size: 1rem;
  color: var(--text-dark);
  max-width: calc(var(--max-width) / 2);
}

.btn{
  padding: 0.75rem 1.5rem;
  outline: none;
  border: none;
  font-size: 1rem;
  color: var(--extra-light);
  background-color: var(--primary-color);
  border-radius: 5rem;
  cursor: pointer;
  transition: 0.3s;
}

.btn:hover {
  background-color: var(--primary-color-dark);
}

a {
  text-decoration: none;
}

img {
  width: 100%;
  display: block;
}

body {
  font-family: "Poppins", sans-serif;
}

nav {
  padding: 1rem;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  max-width: var(--max-width);
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav-logo {
  font-size: 1.2rem;
  font-weight: 600;
  color: var(--text-dark);
  cursor: pointer;
}

.nav-logo span {
  color: var(--primary-color);
}

.nav-links {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 1rem;
}

.link a {
  padding: 0 1rem;
  color: var(--text-dark);
  transition: 0.3s;
}

.link a:hover {
  color: var(--primary-color);
}

header {
  background-color: var(--secondary-color);
}

.header-container {
  min-height: 100vh;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 2rem;
}

.header-image {
  position: relative;
}

.header-image img {
  position: absolute;
  top: 50%;
  left: 50%;
  border: 0.5rem solid var(--extra-light);
  border-radius: 2rem;
  box-shadow: 5px 5px 30px rgba(0, 0, 0, 0.1);
}

.header-image img:nth-child(1) {
  max-width: 350px;
  transform: translate(-75%, -50%);
}

.header-image img:nth-child(2) {
  max-width: 250px;
  transform: translate(0%, -25%);
}

.header-content {
  display: flex;
  align-items: center;
  justify-content: center;
}

.header-content > div {
  max-width: 400px;
  display: grid;
  gap: 1rem;
}

.header-content .sub-header {
  font-size: 1rem;
  font-weight: 600;
  color: var(--primary-color);
}

.header-content h1 {
  font-size: 3rem;
  line-height: 4rem;
  font-weight: 800;
  color: var(--text-dark);
}

.header-content .action-btns {
  display: flex;
  align-items: center;
  gap: 2rem;
  margin-top: 1rem;
}

.story {
  display: flex;
  align-items: center;
  gap: 2rem;
  cursor: pointer;
}

.video-image {
  position: relative;
}

.video-image img {
  width: 60px;
  height: 60px;
  border-radius: 100%;
  box-shadow: 5px 5px 30px rgba(0, 0, 0, 0.1);
}

.video-image span {
  position: absolute;
  top: 50%;
  left: 100%;
  transform: translate(-50%, -50%);
}

.video-image span i {
  padding: 0.5rem;
  font-size: 1rem;
  color: red;
  background-color: var(--extra-light);
  border-radius: 100%;
  box-shadow: 5px 5px 30px rgba(0, 0, 0, 0.1);
}

.story > span {
  font-size: 1rem;
  font-weight: 600;
  color: var(--text-dark);
}
.destination-nav {
    display: flex;
    gap: 1rem;
  }
  
  .destination-nav span {
    width: 30px;
    height: 30px;
    display: grid;
    place-content: center;
    color: var(--primary-color);
    border: 1px solid var(--primary-color);
    border-radius: 100%;
    font-size: 1.5rem;
    cursor: pointer;
    transition: 0.3s;
  }
  
  .destination-nav span:hover {
    color: var(--extra-light);
    background-color: var(--primary-color);
  }
  
  .destination-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 2rem;
  }
  
  .destination-card {
    overflow: hidden;
    position: relative;
    isolation: isolate;
    cursor: pointer;
  }
  
  .destination-card img {
    border-radius: 1rem;
  }
  
  .destination-details {
    position: absolute;
    width: calc(100% - 2rem);
    padding: 1rem;
    bottom: -6rem;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    color: var(--extra-light);
    background-color: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(4px);
    border-radius: 10px;
    z-index: 1;
    transition: 0.3s;
  }
  
  .destination-card:hover .destination-details {
    bottom: 1rem;
  }
  
  .destination-title {
    font-size: 0.9rem;
    margin-bottom: 0.5rem;
  }
  
  .destination-subtitle {
    font-size: 1rem;
    font-weight: 600;
  }
  
  .trip {
    background-color: var(--secondary-color);
  }
  
  .trip-container :is(.section-title, .section-subtitle, .view-all) {
    text-align: center;
    margin-right: auto;
    margin-left: auto;
  }
  
  .trip-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
    margin: 4rem 0;
  }
  
  .trip-card {
    border-radius: 1rem;
    overflow: hidden;
    box-shadow: 5px 5px 30px rgba(0, 0, 0, 0.1);
  }
  
  .trip-details {
    padding: 1rem;
    display: grid;
    gap: 0.5rem;
    font-size: 1rem;
    font-weight: 600;
    color: var(--text-dark);
    background-color: var(--extra-light);
    cursor: pointer;
  }
  
  .rating {
    color: goldenrod;
  }
  
  .booking-price {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  .price span {
    font-weight: 400;
    font-size: 0.9rem;
    color: var(--text-light);
  }
  
  .book-now {
    padding: 0.5rem 1.5rem;
    color: var(--primary-color);
    outline: none;
    border: 1px solid var(--primary-color);
    border-radius: 5rem;
    background-color: transparent;
    cursor: pointer;
    transition: 0.3s;
  }
  
  .book-now:hover {
    color: var(--extra-light);
    background-color: var(--primary-color);
  }
  
  .gallary-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
  }
  
  .image-gallary {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
  }
  
  .gallary-col {
    display: grid;
    place-content: center;
    gap: 1rem;
  }
  
  .gallary-col img {
    border-radius: 1rem;
    box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.2);
  }
  
  .gallary-content {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
  
  .gallary-content > div {
    max-width: 400px;
  }
  
  .gallary-content .section-subtitle {
    margin-bottom: 2rem;
  }
  
  .subscribe {
    background-color: var(--secondary-color);
  }
  
  .subscribe-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
  }
  
  .subscribe-form {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .subscribe-form form {
    width: 100%;
    max-width: 400px;
    display: flex;
    background-color: var(--extra-light);
    box-shadow: 5px 5px 30px rgba(0, 0, 0, 0.1);
    border-radius: 5rem;
  }
  
  .subscribe-form input {
    width: 100%;
    padding: 1rem;
    outline: none;
    border: none;
    border-radius: 5rem;
    font-size: 1rem;
  }
  
  .footer {
    background-color: var(--text-dark);
  }
  
  .footer-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 5rem;
    color: var(--secondary-color);
  }
  
  .footer-col h3 {
    font-size: 1.5rem;
    font-weight: 600;
    margin-bottom: 2rem;
  }
  
  .footer-col h3 span {
    color: var(--primary-color);
  }
  
  .footer-col p {
    font-size: 0.8rem;
    margin-bottom: 1rem;
    cursor: pointer;
    transition: 0.3s;
  }
  
  .footer-col p:hover {
    color: var(--primary-color);
  }
  
  .footer-col p span {
    font-weight: 600;
  }
  
  .footer-col h4 {
    font-size: 1rem;
    font-weight: 600;
    margin-bottom: 2rem;
  }
  
  .footer-bar {
    max-width: var(--max-width);
    margin: auto;
    padding: 0.5rem;
    text-align: center;
    font-size: 0.8rem;
    color: var(--secondary-color);
    border-top: 1px solid var(--text-light);
  }
  
  @media (width < 1200px) {
    .header-image img:nth-child(1) {
      max-width: 300px;
    }
  
    .header-image img:nth-child(2) {
      max-width: 200px;
    }
  }
  
  @media (width < 900px) {
    .nav-links {
      display: none;
    }
  
    .header-container {
      grid-template-columns: repeat(1, 1fr);
    }
    .header-image {
      min-height: 500px;
    }
  
    .destination-grid {
      gap: 1rem;
    }
  
    .trip-grid {
      grid-template-columns: repeat(2, 1fr);
    }
  }
  
  @media (width < 600px) {
    .destination-grid {
      grid-template-columns: repeat(2, 1fr);
    }
  
    .trip-grid {
      grid-template-columns: repeat(1, 1fr);
    }
  
    .gallary-container {
      grid-template-columns: repeat(1, 1fr);
    }
  
    .subscribe-container {
      grid-template-columns: repeat(1, 1fr);
    }
  
    .footer-container {
      grid-template-columns: repeat(2, 1fr);
    }
  }
  